{% extends 'todo/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ siteinfo.banner }}</h1>
    <p class="lead">美好的一天开始了.</p>
    <hr class="my-4">
    <p>快规划一下今天要做的事情吧！</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#addModalCenter">添加</a>
    </p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="addModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalCenterTitle">添加新备忘信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'todo:add' %}" method="POST">
          {% csrf_token %}
          
          {{ add_form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- modify Modal -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyModalTitle">修改备忘信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}

          {{ modifi_form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col">
      {% if not current_user.is_login %}
      <ul class="list-group">
        {% for todo in todo_list %}
        {% include 'todo/todolist.html' %}
        {% endfor %}       
      </ul>
      <hr class="my-4">
      {% endif %}

      <ul class="list-group">
        <li class="list-group-item  list-group-item-action active">今天</li>
        {% for todo in todo_today %}
        {% include 'todo/todolist.html' %}
        
        {% endfor %}
      </ul>
      <hr class="my-4">

      <ul class="list-group">
        <li class="list-group-item  list-group-item-action active">明天</li>
        {% for todo in todo_tomorrow %}
        {% include 'todo/todolist.html' %}

        {% endfor %}
      </ul>
      <hr class="my-4">

      <ul class="list-group">
        <li class="list-group-item  list-group-item-action active">下一周</li>
        {% for todo in todo_next_week %}
        {% include 'todo/todolist.html' %}
        
        {% endfor %}
      </ul>
    </div>

    <div class="col col-4">
      <ul class="list-group">
        <p class="lead">本周总结</p>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          进行中
          <span class="badge badge-primary badge-pill">{{ todo_doing.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          已完成
          <span class="badge badge-primary badge-pill">{{ todo_done.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          已放弃
          <span class="badge badge-primary badge-pill">{{ todo_overdue.count }}</span>
        </li>
      </ul>
    </div>
  </div>

</main><!-- /.container -->
{% csrf_token %}

{% endblock %}