{% load humanize %}

<li class="list-group-item list-group-item-{{ todo.get_class_type }}">
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ todo.title }}" data-id="{{ todo.id }}"
                    {% if todo.finish == 'done' %} checked {% endif %}>
                <label class="form-check-label" for="{{ todo.id }}">
                    {{ todo.title }} | {{ todo.duedate | naturalday}}
                </label>
                <p class="" id="todo-content" hidden>{{ todo.content }}</p>
            </div>
        </div>
        <div class="col">
            <div class="btn-group float-right d-none" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modifyModal"
                    data-id="{{ todo.id }}">修改</button>
                <button type="button" class="btn btn-danger" data-id="{{ todo.id }}">删除</button>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{ todo.id }}">
                        移动
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <button class="dropdown-item update" type="button" data-id="" id="update1">明天</button>
                        <button class="dropdown-item update" type="button" date-id="" id="update2">下一周</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>